<div class="contact">
  <a class="contact-method-1" href="mailto:upuan@gmail.com">
    <div>
      <img src="https://bit.ly/2YIYsz6" />
      <h3>Send us an Email</h3>
      <p>You can expect a response within 24 hours</p>
    </div>
  </a>
  <a class="contact-method-2" href="tel:1-555-555-5555">
    <div>
      <img src="https://bit.ly/2NUTWLM" />
      <h3>Call us anytime</h3>
      <p>Talk to one of our reps at any hou</p>
    </div>
  </a>
  <a class="contact-method-3" routerLink="">
    <div>
      <img src="https://bit.ly/3aoucio" />
      <h3>Chat with our team</h3>
      <p>Our team is available to chat 24/7</p>
    </div>
  </a>
  <div class="map">
    <img src="https://bit.ly/3pLIhgw" />
  </div>
</div>
