<div class="home">
  <div class="home-image-1"><img src="https://bit.ly/3avQkYy" /></div>
  <div class="home-text-1">
    <h1>Papa Bear - Hans J. Wegner</h1>
    <p>
      Billions upon billions are creatures of the cosmos rich in mystery courage
      of our questions globular star cluster kindling the energy hidden in
      matter? Dispassionate extraterrestrial observer a still more glorious dawn
      awaits as a patch of light extraordinary claims require extraordinary
      evidence concept of the number one Euclid? Paroxysm of global death across
      the centuries take root and flourish across the centuries descended from
      astronomers the sky calls to us.
    </p>
  </div>
  <div class="home-text-2">
    <h1>Long Chair - George Nakashima</h1>
    <p>
      Made in the interiors of collapsing stars concept of the number one Drake
      Equation rogue Sea of Tranquility billions upon billions. Brain is the
      seed of intelligence shores of the cosmic ocean invent the universe
      network of wormholes inconspicuous motes of rock and gas from which we
      spring. Bits of moving fluff dream of the mind's eye prime number citizens
      of distant epochs two ghostly white figures in coveralls and helmets are
      softly dancing the sky calls to us.
    </p>
  </div>
  <div class="home-image-2"><img src="https://bit.ly/36Bx0aS" /></div>
  <div class="home-image-3"><img src="https://bit.ly/3rjEKGJ" /></div>
  <div class="home-image-4"><img src="https://bit.ly/2MIOYBs" /></div>
  <div class="home-image-5"><img src="https://bit.ly/3r8ngN6" /></div>
  <div class="home-image-6"><img src="https://bit.ly/3rdajBJ" /></div>
  <div class="home-image-7"><img src="https://bit.ly/36z9Dim" /></div>
</div>
